<%= form_for @announcement do |f| %>
  <% if @announcement.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@announcement.errors.count, "error") %> prohibited
        this announcement from being saved:
      </h2>
      <ul>
        <% @announcement.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :"Title"%><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.text_area :text %>
  </p>

  <p>
    <%= f.label :"Save as Draft?"%><br>
    <%= f.check_box :isDraft %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
