
<%= form_for @announcement, html: { class: 'ui form' } do |f| %>

  <% if @announcement.errors.any? %>
    <div id="error_explanation" class="ui message">
      <h2 class="ui header">
        <%= pluralize(@announcement.errors.count, "error") %> prohibited
        this announcement from being submitted:
      </h2>
      <ul class="ui list">
        <% @announcement.errors.full_messages.each do |msg| %>
          <li class="item"><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="required field">
    <%= f.label :title, "Title" %>
    <%= f.text_field :title, placeholder: "Title" %>
  </div>

    <div class="required field">
      <%= f.label :text, "Content"%>
      <%= f.text_area :text, placeholder: "Content of Announcement" %>
    </div>

    <% if @announcement.isDraft.nil? || @announcement.isDraft %>
    <div class="field">
        <div class="ui mini buttons">
          <%= f.submit "Save as Draft", class: "ui button"%>
          <div class="or"></div>
          <%= f.submit "Submit", class: "ui positive button" %>
        </div>
    </div>
    <% else %>
    <%= f.submit "Submit", class: "ui positive button" %>
    <% end %>

<% end %>

