<div class="ui container grid">
    <div class="row">
        <div class="ten wide column right bordered">
            <div class="ui segment">
                <div class="ui huge header">
                    Announcements
                    <% if can? :create, Announcement %>
                    <%= link_to 'Add Announcement', new_announcement_path, class: 'ui button right floated orange', style: 'margin-top: 0;'%>
                    <% end %>
                </div>
                <div class="ui celled feed">
                    <% @announcements.each do |announcement| %>
                        <div class="event">
                            <div class="content">
                                <div class="summary">
                                    <% if announcement.isDraft %>
                                        <div class="ui horizontal label tiny">Draft</div>
                                    <% end %>
                                    <%= announcement.title %>
                                    <% if can? :edit, Announcement %>
                                        <%= link_to edit_announcement_path(announcement) do %>
                                            <i class="icon edit" style="margin-right: 0px; margin-left: 5px;"></i>
                                        <% end %>
                                    <% end %>
                                    <% if can? :destroy, Announcement %>
                                        <%= link_to announcement_path(announcement),data: {:confirm => 'Are you sure?'}, method: :delete do %>
                                            <i class="icon remove"></i>
                                        <% end %>
                                    <% end %>
                                </div>
                                <div class="meta">
                                    <div class="date"><%= announcement.created_at %></div>
                                </div>
                                <div class="extra text">
                                    <%= announcement.text %>
                                </div>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
        <div class="six wide column">
            <div class="ui basic segment center aligned">
                <div class="ui statistic">
                    <div class="value" id='time' data-time='<%= @current_time %>'>
                    <script>
                    
                    </script>
                    </div>
                    <div class="label">
                        UP Official Time
                    </div>
                </div>
            </div>
            <div class="ui segment basic center aligned" style="padding: 0">
                <h2 class="ui tiny header" style="margin-bottom: 0">Submission Period: 
                    <% if @submission_period.active %>
                        <span class="green ui horizontal label">Ongoing</span>
                    <% else %>
                        <span class="red ui horizontal label">Finished</span>
                    <% end %>

                    <% if can? :toggle, @submission_period %>
                        <% if @submission_period.active %>
                            <%= link_to 'End Submission', toggle_submission_period_path, class: 'ui mini button red', onclick: "return toggle_alert();" %>
                        <% else %>
                            <%= link_to 'Start Submission', toggle_submission_period_path, class: 'ui mini button green', onclick: "return toggle_alert();" %>
                        <% end %>
                    <% end %>
                </h2>
            </div>
            <div class="ui attached segment">
                <div class="ui header center aligned">
                    Recently Submitted Proposals
                </div>
                <div class="ui selection celled list">
                    <% @proposals.each do |proposal| %>
                        <%= link_to proposal, class: 'item' do %>
                            <div class="content">
                                <div class="ui medium header"><%= proposal.title %>
                                    <div class="sub header">
                                        <%= proposal.user.full_name %>
                                    </div>
                                </div> 
                                <div class="description">
                                    <%= proposal.description %>
                                </div>
                            </div>
                        <% end %>
                    <% end %>
                </div>
            </div>
            <%= link_to "See more submitted proposals", proposals_path, class: "ui button bottom orange attached" %>
            <% if can? :create, Proposal %>
            <div class="ui basic segment center aligned">
                <div class="ui small header" style="margin-bottom: 0;">Do you have a new proposal?</div>
                <%= link_to 'Submit New Proposal', new_proposal_path, class: 'ui button orange' %>
            </div>
            <% end %>
        </div>
    </div>
</div>