<div class="ui container grid">
    <div class="row">
        <div class="ten wide column right bordered">
            <div class="ui segment">
                <div class="ui huge header">
                    Announcements
                </div>
                <div class="ui celled feed">
                    <% @announcements.each do |announcement| %>
                        <div class="event">
                            <div class="content">
                                <div class="summary">
                                    <%= announcement.title %>
                                </div>
                                <div class="meta">
                                    <div class="date"><%= announcement.created_at %></div>
                                </div>
                                <div class="extra text">
                                    <%= announcement.text %>
                                </div>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
        <div class="six wide column">
            <div class="ui basic segment center aligned">
                <div class="ui statistic">
                    <div class="value" id='time' data-time='<%= @current_time %>'>
                    <script>
                    
                    </script>
                    </div>
                    <div class="label">
                        UP Official Time
                    </div>
                </div>
            </div>
            <div class="ui attached segment">
                <div class="ui header center aligned">
                    Accepted Proposals
                </div>
                <div class="ui selection celled list">
                    <div class="item">
                        <div class="content">
                            <div class="header">Proposal Title</div>    
                            <div class="description">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti aperiam debitis consequatur recusandae quidem placeat nemo optio expedita quaerat, explicabo enim minima sequi distinctio, exercitationem ad. Quisquam quas vel laudantium.
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="content">
                            <div class="header">Proposal Title</div>    
                            <div class="description">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti aperiam debitis consequatur recusandae quidem placeat nemo optio expedita quaerat, explicabo enim minima sequi distinctio, exercitationem ad. Quisquam quas vel laudantium.
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="content">
                            <div class="header">Proposal Title</div>    
                            <div class="description">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti aperiam debitis consequatur recusandae quidem placeat nemo optio expedita quaerat, explicabo enim minima sequi distinctio, exercitationem ad. Quisquam quas vel laudantium.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui button bottom orange attached">
                See more accepted proposals ->
            </div>
            <div class="ui basic segment center aligned">
                <div class="ui small header">Are you a faculty of UP College of Engineering?</div>
                <%= link_to 'Sign Up', new_user_registration_path, class: 'ui button orange' %>
            </div>
        </div>
    </div>
</div>