<div class="ui container grid">
    <div class="row">
        <div class="ten wide column right bordered">
            <div class="ui segment">
                <div class="ui huge header">
                    Announcements
                </div>
                <div class="ui celled feed">
                    <% @announcements.each do |announcement| %>
                        <div class="event">
                            <div class="content">
                                <div class="summary">
                                    <%= announcement.title %>
                                </div>
                                <div class="meta">
                                    <div class="date"><%= announcement.created_at %></div>
                                </div>
                                <div class="extra text">
                                    <%= announcement.text %>
                                </div>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
        <div class="six wide column">
            <div class="ui basic segment center aligned">
                <div class="ui statistic">
                    <div class="value" id='time' data-time='<%= @current_time %>'>
                    <script>
                    
                    </script>
                    </div>
                    <div class="label">
                        UP Official Time
                    </div>
                </div>
            </div>
            <div class="ui segment basic center aligned" style="padding: 0">
                <h2 class="ui tiny header" style="margin-bottom: 0">Submission Period: 
                    <% if @submission_period.active %>
                        <span class="green ui horizontal label">Ongoing</span>
                    <% else %>
                        <span class="red ui horizontal label">Finished</span>
                    <% end %>
                </h2>
            </div>
            <div class="ui attached segment">
                <div class="ui header center aligned">
                    Accepted Proposals <%= 'by Committee Head' if current_user && current_user.type == 'Dean' %>
                </div>
                <div class="ui selection celled list">
                    <% @proposals.each do |proposal| %>
                        <div class="item">
                            <div class="content">
                                <div class="ui medium header"><%= proposal.title %>
                                </div> 
                                <div class="description">
                                    <%= proposal.description %>
                                </div>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
            <%= link_to 'See more accepted proposals', proposals_path, class: 'ui button bottom orange attached'%>
            <div class="ui basic segment center aligned">
                <div class="ui small header" style="margin-bottom: 0;">Are you a faculty of UP College of Engineering?</div>
                <%= link_to 'Sign Up', new_user_registration_path, class: 'ui button orange', id: 'signup_button' %>
                <div class="ui small header" style="margin-bottom: 0;">Forgot your Password?
                </div>
                <%= link_to 'Recover Password', new_user_password_path, class: 'ui button orange tiny' %>
            </div>
        </div>
    </div>
</div>