<div class="ui container grid">
    <div class="row">
        <div class="ten wide column right bordered">
            <div class="ui segment">
                <div class="ui huge header">
                    Announcements
                </div>
                <div class="ui celled feed">
                    <% @announcements.each do |announcement| %>
                        <div class="event">
                            <div class="content">
                                <div class="summary">
                                    <%= announcement.title %>
                                </div>
                                <div class="meta">
                                    <div class="date"><%= announcement.created_at %></div>
                                </div>
                                <div class="extra text">
                                    <%= announcement.text %>
                                </div>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
        <div class="six wide column">
            <div class="ui basic segment center aligned">
                <div class="ui statistic">
                    <div class="value" id='time' data-time='<%= @current_time %>'>
                    <script>
                    
                    </script>
                    </div>
                    <div class="label">
                        UP Official Time
                    </div>
                </div>
            </div>
            <div class="ui attached segment">
                <div class="ui header center aligned">
                    Accepted Proposals
                </div>
                <div class="ui selection celled list">
                    <% @proposals.each do |proposal| %>
                        <%= link_to proposal, class: 'item' do %>
                            <div class="content">
                                <div class="ui medium header"><%= proposal.title %>
                                    <div class="sub header">
                                        <%= proposal.user.full_name %>
                                    </div>
                                </div> 
                                <div class="description">
                                    <%= proposal.description %>
                                </div>
                            </div>
                        <% end %>
                    <% end %>
                </div>
            </div>
            <%= link_to 'See more accepted proposals', proposals_path, class: 'ui button bottom orange attached'%>
            <div class="ui basic segment center aligned">
                <div class="ui small header" style="margin-bottom: 0;">Are you a faculty of UP College of Engineering?</div>
                <%= link_to 'Sign Up', new_user_registration_path, class: 'ui button orange' %>
            </div>
        </div>
    </div>
</div>