			<div class="ui relaxed grid center aligned">
				<div class="two column row" style="margin-top: 70px; height: 710px; overflow: hidden">
					<div class="eight wide column">
						<div class="ui relaxed grid">
							<div class="row">
								<div class="column">
									<div class="ui container segment" id="countdown">
										<h2>COUNTDOWN</h2>
									</div>
								</div>
							</div>
							<br>
							<div class="row">
								<div class="column">
									<div class="ui container segment" id="announcements">
										<h2>ANNNOUNCEMENTS</h2>
										<div class="ui relaxed divided list">
											<div class="item">
												<div class="content">
													<p>
													<br>Lorem ipsum dolor sit amet,
													<br>consectetur adipisicing elit.
													<br>Ad omnis quae expedita ipsum
													<br>nobis praesentium velit animi
												</p>
												</div>
											</div> <!-- item 1 -->
											<div class="item">
												<div class="content">
													<p>
														<br>minus amet perspiciatis laboriosam
														<br>similique debitis iste ratione nemo
														<br>ea at corporis aliquam.
													</p>
												</div>
											</div> <!-- item 2 -->
										</div> <!-- .ui.relaxed.divided.list -->
									</div> <!-- .ui.container.segment -->
								</div>
							</div> <!-- .row -->
						</div> <!-- .ui.relaxed.grid -->
					</div> <!-- .eight.wide.column -->

					<div class="four wide column">
						<div class="ui grid">
							<div class="row">
								<div class="column">
									<!-- ACCEPTED PROPOSALS -->
									<div class="ui container segment" id="proposals">
										<h2>LIST OF ACCEPTED PROPOSALS</h2>
										<br>
										<div class="ui relaxed divided list">
											<div class="item">
												<div class="left floated content">
													<p>Proposal 1</p>
												</div>
												<div class="right floated content">
													<p>Researcher 1</p>
												</div>
											</div> <!-- item 1 -->
											<br>
											<div class="item">
												<div class="left floated content">
													<p>Proposal 2</p>
												</div>
												<div class="right floated content">
													<p>Researcher 2</p>
												</div>
											</div> <!-- item 2 -->
											<br>
											<div class="item">
												<div class="left floated content">
													<p>Proposal 3</p>
												</div>
												<div class="right floated content">
													<p>Researcher 3</p>
												</div>
											</div> <!-- item 3 -->
											<br>
										</div>
									</div>
									<!-- ACCEPTED PROPOSALS -->
								</div> <!-- .column -->
							</div> <!-- .row -->
							<div class="row">
								<div class="column">
									<!-- SIGN UP -->
									<div id="signuppage" class="ui container segment" style="text-align: left">
										<h2>SIGN UP</h2>
										<%= form_for(@user, :url => registration_path(@user), html: {class: 'ui form'}) do |f| %>
											<div class="two fields">
												<div class="field">
													<label>First Name</label>
													<%= f.text_field :first_name, placeholder: 'First Name'%>
												</div>
												<div class="field">
													<label>Last Name</label>
													<%= f.text_field :last_name, placeholder: 'Last Name'%>
												</div>
											</div>
											<div class="two fields">
												<div class="field">
													<label>Contact Number</label>
													<%= f.text_field :contact_number, placeholder: 'First Name'%>
												</div>
												<div class="field">
													<label>Email Address</label>
													<%= f.text_field :email, placeholder: 'Email'%>
												</div>
											</div>
											<div class="two fields">
												<div class="field">
													<label>Password</label>
													<%= f.password_field :password, placeholder: 'Password'%>

												</div>
												<div class="field">
													<label>Confirm Password</label>
													<%= f.password_field :password_confirmation, placeholder: "Confirm Password"%>
												</div>
											</div>
											<div class="two fields">
												<div class="field">
													<label>Deparment</label>
													<%= f.text_field :department, placeholder: "Deparment/Institute" %>
												</div>
												<div class="field">
													<label>Rank</label>
													<%= f.text_field :rank, placeholder: "Rank" %>
												</div>
											</div>
											<br>
											<%= f.submit 'Create Account', class: "ui orange button", style: "margin-bottom: 20px;"%>
										<% end %>
									</div>
									<!-- SIGN UP -->
								</div> <!-- .column -->
							</div> <!-- .row -->
						</div> <!-- .ui.grid -->
					</div> <!-- .four.wide.column -->
				</div> <!-- .two.column.row -->
			</div> <!-- .ui.relaxed.grid.center.aligned -->
