<div class="ui container text">
  <div class="ui segment" style="margin-bottom: 18px;">
    <h2>Log in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'ui form'}) do |f| %>
      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <%= f.submit "Log in", class: "ui orange button" %>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>