<div class="ui container grid center aligned">
    <div class="row">
        <div class="fourteen wide column">
          <% if current_user %>
            <div class="ui segment">
                <div class="ui medium header">
                    <% if current_user.type == "Researcher" %>
                    My <% end %> Proposals
                </div>
                <table class="ui orange striped selectable fixed single line celled table">
                  <thead>
                    <tr><th>Title</th>
                    <th>Status</th>
                    <th>Actions</th>
                  </tr></thead>
                  <tbody>
                    <% @proposals.each do |proposal| %>
                      <tr>
                        <td><%= proposal.title %></td>
                        <% if proposal.is_draft%>
                        <td> Draft </td>
                        <% else %>
                        <td><%= @proposal_status[proposal.status] %></td>
                        <% end %>
                        <td>
                          <%= link_to "View", proposal_path(proposal), class: "ui mini button" %>
                          <%= link_to "Cancel", cancel_proposal_path(id: proposal.id), method: :post, class: "ui mini button" %>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
            </div>
            <% else %>
              <div class="ui medium header">Accepted Proposals</div>
              <div class="ui segment">
                <div class="ui selection divided list">
                  <% @proposals.each do |proposal| %>
                    <%= link_to proposal, class: "item" do %>
                      <div class="content">
                        <div class="header"><%= proposal.title %></div>
                        <%= proposal.description %>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              </div>
            <% end %>
        </div>
    </div>
</div>
