<div class="ui container grid center aligned">
    <div class="row">
        <div class="fourteen wide column">
          <% if current_user %>
            <div class="ui basic segment">
                <div class="ui medium header">
                    <% if current_user.type == "Researcher" %>
                    My <% end %> Proposals
                </div>
                <table class="ui orange striped selectable celled table">
                  <thead>
                    <tr><th>Title</th>
                    <th class="three wide">Status</th>
                    <th class="four wide">Actions</th>
                  </tr></thead>
                  <tbody>
                    <% @proposals.each do |proposal| %>
                        <% if proposal.status == 2 %>
                        <tr class="positive">
                        <% elsif proposal.status == -1 %>
                        <tr class="negative">
                        <% elsif proposal.status == 1 %>
                        <tr class="warning">
                        <% end %>
                        <td>
                          <div class="ui small header">
                          <%= proposal.title %>
                          </div>
                        </td>
                        <% if proposal.is_draft%>
                        <td> Draft </td>
                        <% else %>
                        <td><%= @proposal_status[proposal.status] %></td>
                        <% end %>
                        <td>
                          <%= link_to "View", proposal_path(proposal), class: "ui mini orange button" %>
                          <% if proposal.status == 0 %>
                            <%= link_to "Edit", edit_proposal_path(proposal), class: "ui primary mini button" %>
                            <%= link_to "Cancel", cancel_proposal_path(id: proposal.id), method: :post, class: "ui negative mini button" %>
                          <% end %>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
            </div>
            <% else %>
              <div class="ui medium header">Accepted Proposals</div>
              <div class="ui segment">
                <div class="ui selection divided list">
                  <% @proposals.each do |proposal| %>
                    <%= link_to proposal, class: "item" do %>
                      <div class="content">
                        <div class="header"><%= proposal.title %></div>
                        <%= proposal.description %>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              </div>
            <% end %>
        </div>
    </div>
</div>
