<h1>Proposal Info</h1>
<%= form_for :article do |f| %>
  <p>
    <%= f.label :"Title of Project" %><br>
    <%= f.text_field :title %> //name in model
  </p>

  <p>
    <%= f.label :"Principal Researcher"%><br>
    <%= f.text_field :principalResearcher %>
  </p>

  <p>
    <%= f.label :"Name of Coresearchers"%><br>
    <%= f.text_area :coresearchers %>
  </p>

  <p>
    <%= f.label :"Total R&D Cost"%><br>
    <%= f.text_field :rdCost %>
  </p>

  <p>
    <%= f.label :"Source of External Funds"%><br>
    <%= f.text_field :sourceExternal %>
  </p>

  <p>
    <%= f.label :"Amount of External Funds"%><br>
    <%= f.text_field :amountExternal %>
  </p>

  <p>
    <%= f.label :"Facilities, Materials, Staff within the Department or College (if any)"%><br>
    <%= f.text_area :facMat %>
  </p>

  <p>
    <%= f.label :"Objectives of the Project"%><br>
    <%= f.text_area :objectives %>
  </p>

  <p>
    <%= f.label :"Expected Outputs"%><br>
    <%= f.text_area :expectedOutputs %>
  </p>

  <p>
    <%= f.label :"Description of Work Done and Accomplishemnts (if project is in progress)"%><br>
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.label :"Estimated Number of Hours Per Week Devoted to this Project"%><br>
    <%= f.text_field :weeklyHours %>
  </p>

  <p>
    <%= f.label :"Have you attained endorsement from Department Head/Chairman?"%><br>
    <%= f.check_box :endorsement %>
  </p>

  <p>
    <%= f.label :"Have you submitted this proposal to any other funding agency? If yes, please state"%><br>
    <%= f.check_box :submitAgency %>
  </p>

  <p>
    <%= f.text_area :listAgency %>
  </p>

  <p>
    <%= f.text_field :attachment %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
