<div class="ui container text proposal content">
  <div class="ui segment">
    <div class="ui grid">

      <div class="one column row">
        <div class="column">
          <h2 class="ui header">
            <div class="sub header">
            Title of Project:
            </div>
            <%= @proposal.title %> 
          </h2>
        </div>
      </div>

      <div class="two column row">
        <div class="column">
          <h3 class="ui medium header">
            <div class="sub header">
            Principal Researcher:
            </div>
            <%= @proposal.principal_researcher %>
          </h3>
        </div>
        <div class="column">
          <div class="ui tiny header">
            <div class="sub header">
            Total Research and Development Cost
            </div>
            <%= @proposal.rdCost %>
          </div>
        </div>
      </div>

      <div class="two column row">
        <div class="column">
          <div class="ui tiny header">
            <div class="sub header">
            Name of Coresearchers:
            </div>
            <%= @proposal.coresearchers.present? ? @proposal.coresearchers : 'N/A' %>
          </div>
        </div>
        <div class="column">
          <div class="ui tiny header">
            <div class="sub header">
            Source of External Funds:
            </div>
            <%= @proposal.sourceExternal.present? ? @proposal.sourceExternal : 'N/A'%>
          </div>
        </div>
      </div>

      <div class="two column row">
        <div class="column">
          <div class="ui tiny header">
            <div class="sub header">
            Facilities, Materials, Staff within the Department or College (if any):
            </div>
            <%= @proposal.facMat.present? ? @proposal.facMat : 'N/A'%>
          </div>
        </div>
        <div class="column">
          <div class="ui tiny header">
            <div class="sub header">
            Amount of External Funds:
            </div>
            <%= @proposal.amountExternal.present? ? @proposal.amountExternal : 'N/A'%>
          </div>
        </div>
      </div>

      <div class="one column row">
        <div class="column">
          <div class="ui tiny header">
            <div class="sub header">
            Description of Work Done and Accomplishemnts (if project is in progress):
            </div>
            <%= @proposal.description.present? ? @proposal.description : 'N/A'%>
          </div>
        </div>
      </div>

      <div class="one column row">
        <div class="column">
          <div class="ui tiny header">
            <div class="sub header">
            Objectives of the Project:
            </div>
            <%= @proposal.objectives.present? ? @proposal.objectives : 'N/A'%>
          </div>
        </div>
      </div>

      <div class="two column row">
        <div class="column">
          <div class="ui tiny header">
            <div class="sub header">
            Expected Outputs:
            </div>
            <%= @proposal.expectedOutputs.present? ? @proposal.expectedOutputs : 'N/A'%>
          </div>
        </div>
        <div class="column">
          <div class="ui tiny header">
            <div class="sub header">
            Estimated Number of Hours Per Week Devoted to this Project:
            </div>
            <%= @proposal.weeklyHours.present? ? @proposal.weeklyHours : 'N/A'%>
          </div>
        </div>
      </div>
      
      <div class="one column row">
        <div class="column">
          <div class="ui tiny header">
            <div class="sub header">
            Have you attained endorsement from Department Head/Chairman?: 
            <i class="icon <%= @proposal.endorsement.present? ? 'checkmark': 'remove' %>"></i> 
            </div>
          </div>
        </div>
      </div>

      <div class="one column row">
        <div class="column">
          <div class="ui tiny header">
            <div class="sub header">
            Have you submitted this proposal to any other funding agency?: 
            <i class="icon <%= @proposal.submitAgency.present? ? 'checkmark': 'remove' %>"></i> 
            </div>
          </div>
        </div>
      </div>

      <div class="one column row">
        <div class="column">
          <div class="ui tiny header">
            <div class="sub header">
            List of Agencies:
            </div>
            <%= @proposal.listAgency.present? ? @proposal.listAgency : 'N/A'%>
          </div>
        </div>
      </div>
      
   
      <div class="row centered" style="margin-bottom: 10px;">
        <div class="six wide column right aligned">
          <%= link_to @proposal.attachment.url, class: 'ui mini button green' do %>
            <i class="icon arrow down"></i>Download Proposal
          <% end %>
        </div>
        <div class="six wide column">
          <%= link_to @proposal.recommendation.url, class: 'ui mini button green' do %>
            <i class="icon arrow down"></i>Download Recommendation
          <% end %>
        </div>
      </div>

      <!--
      <%= link_to 'Edit', edit_proposal_path(@proposal) %> |
      <%= link_to 'Back', proposals_path %>
      -->
    </div>
  </div>

  <% if can?(:create, Review) && current_user.reviews.where('proposal_id = ?', @proposal.id).length < 1 %>
    <div class="ui divider"></div>
    <div class="ui segment">
      <%= form_for @review, html: { class: 'ui form' } do |f| %>
        <div class="field">
          <%= f.label :comment, "Comment" %>
          <%= f.text_area :comment, rows: 2%>
        </div>
        <div class="field">
          <%= f.label :attachment, "Review PDF" %>
          <%= f.file_field :attachment, accept: '.pdf'%>
        </div>
        <div class="ui grid" style="margin-bottom: 5px;">
          <div class="two column row centered">
            <div class="column center aligned">
              <%= f.submit 'Accept', class: 'ui button green small' %>
              <%= f.submit 'Resubmit', class: 'ui button orange small' %>
              <%= f.submit 'Reject', class: 'ui button red small' %>
            </div>
          </div>
        </div>
        <%= f.hidden_field :proposal_id, value: @proposal.id %>
      <% end %>
    </div>  

  <% elsif can? :read, @current_review %>
    <div class="ui divider"></div>
    <div class="ui segment">
      <div class="ui grid">

        <div class="one column row">
          <div class="column">
            <h2 class="ui header">
              <div class="sub header">
              Vote:
              <% if @current_review.vote == -1 %>
                <div class="ui label red horizontal">Reject</div>
              <% elsif @current_review.vote == 1 %>
                <div class="ui label orange horizontal">Resubmit</div>
              <% elsif @current_review.vote == 2 %>
                <div class="ui label green horizontal">Accept</div>
              <% end %>
              </div>
            </h2>
          </div>
        </div>

        <div class="one column row">
          <div class="column">
            <h4 class="ui header">
              <div class="sub header">
              Comment:
              </div>
              <%= @current_review.comment.present? ? @current_review.comment : 'N/A' %> 
            </h4>
          </div>
        </div>

        <% if @current_review.attachment.present? %>
          <div class="column row centered" style="margin-bottom: 10px;">
            <div class="column center aligned">
                <%= link_to @current_review.attachment.url, class: 'ui button green small' do %>
                  <i class="icon arrow down"></i>Download Review
                <% end %>
            </div>
          </div>
        <% end %>

      </div>

    </div>
  <% elsif can? :vote, Proposal %>
    <div class="ui divider"></div>
    <% @reviews.each do |review| %>
      <div class="ui segment">
        <div class="ui grid">

         <div class="one column row">
            <div class="column">
              <h4 class="ui header">
                <div class="sub header">
                Committee Member: 
                </div>
                <%= review.user.full_name %>
              </h4>
            </div>
          </div>

          <div class="one column row">
            <div class="column">
              <h2 class="ui header">
                <div class="sub header">
                Vote:
                <% if review.vote == -1 %>
                  <div class="ui label red horizontal">Reject</div>
                <% elsif review.vote == 1 %>
                  <div class="ui label orange horizontal">Resubmit</div>
                <% elsif review.vote == 2 %>
                  <div class="ui label green horizontal">Accept</div>
                <% end %>
                </div>
              </h2>
            </div>
          </div>

          <div class="one column row">
            <div class="column">
              <h4 class="ui header">
                <div class="sub header">
                Comment:
                </div>
                <%= review.comment.present? ? review.comment : 'N/A' %> 
              </h4>
            </div>
          </div>

          <% if review.attachment.present? %>
            <div class="column row centered" style="margin-bottom: 10px;">
              <div class="column center aligned">
                  <%= link_to review.attachment.url, class: 'ui button green small' do %>
                    <i class="icon arrow down"></i>Download Review
                  <% end %>
              </div>
            </div>
          <% end %>

        </div>
      </div>
      <% end %>
      <div class="ui segment">
        <div class="ui grid">
          <div class="two column row centered" style="margin-bottom: 10px;">
            <div class="column center aligned">
              <% if @proposal.head_vote.present? %>
                <div class="one column row">
                  <div class="column">
                    <h2 class="ui header">
                      <div class="sub header">
                      Your vote:
                      <% if @proposal.head_vote == -1 %>
                        <div class="ui label red horizontal">Reject</div>
                      <% elsif @proposal.head_vote == 1 %>
                        <div class="ui label orange horizontal">Resubmit</div>
                      <% elsif @proposal.head_vote == 2 %>
                        <div class="ui label green horizontal">Accept</div>
                      <% end %>
                      </div>
                    </h2>
                  </div>
                </div>
              <% else %>
              <h3 class="ui header" style="margin-bottom: -10px;">Vote</h3>
                <%= link_to 'Accept', head_vote_path(:proposal_id => @proposal.id, vote: 'Accept'), class: 'ui button green small' %>
                <%= link_to 'Resubmit', head_vote_path(:proposal_id => @proposal.id, vote: 'Resubmit'), class: 'ui button orange small' %>
                <%= link_to 'Reject', head_vote_path(:proposal_id => @proposal.id, vote: 'Reject'), class: 'ui button red small' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
  <% end %>

  <% if can? :veto, @proposal %>
    <div class="ui segment">
      <div class="ui grid">
        <div class="two column row centered" style="margin-bottom: 10px;">
          <div class="column center aligned">
            <% if @proposal.head_vote.present? && @proposal.status != 0 %>
              <div class="one column row">
                <div class="column">
                  <h2 class="ui header">
                    <div class="sub header">
                    Your vote:
                    <% if @proposal.status == -1 %>
                      <div class="ui label red horizontal">Reject</div>
                    <% elsif @proposal.status == 2 %>
                      <div class="ui label green horizontal">Accept</div>
                    <% end %>
                    </div>
                  </h2>
                </div>
              </div>
            <% else %>
            <h3 class="ui header">Veto</h3>
              <%= link_to 'Accept', veto_path(:proposal_id => @proposal.id, vote: 'Accept'), class: 'ui button green small' %>
              <%= link_to 'Reject', veto_path(:proposal_id => @proposal.id, vote: 'Reject'), class: 'ui button red small' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>