<div class="ui container text proposal content">
  <div class="ui segment">
    <div class="ui grid">

      <div class="one column row">
        <div class="column">
          <h2 class="ui header">
            <div class="sub header">
            Title of Project:
            </div>
            <%= @proposal.title %> 
          </h2>
        </div>
      </div>

      <div class="two column row">
        <div class="column">
          <h3 class="ui medium header">
            <div class="sub header">
            Principal Researcher:
            </div>
            <%= @proposal.principal_researcher %>
          </h3>
        </div>
        <div class="column">
          <div class="ui tiny header">
            <div class="sub header">
            Total Research and Development Cost
            </div>
            <%= @proposal.rdCost %>
          </div>
        </div>
      </div>

      <div class="two column row">
        <div class="column">
          <div class="ui tiny header">
            <div class="sub header">
            Name of Coresearchers:
            </div>
            <%= @proposal.coresearchers.present? ? @proposal.coresearchers : 'N/A' %>
          </div>
        </div>
        <div class="column">
          <div class="ui tiny header">
            <div class="sub header">
            Source of External Funds:
            </div>
            <%= @proposal.sourceExternal.present? ? @proposal.sourceExternal : 'N/A'%>
          </div>
        </div>
      </div>

      <div class="two column row">
        <div class="column">
          <div class="ui tiny header">
            <div class="sub header">
            Facilities, Materials, Staff within the Department or College (if any):
            </div>
            <%= @proposal.facMat.present? ? @proposal.facMat : 'N/A'%>
          </div>
        </div>
        <div class="column">
          <div class="ui tiny header">
            <div class="sub header">
            Amount of External Funds:
            </div>
            <%= @proposal.amountExternal.present? ? @proposal.amountExternal : 'N/A'%>
          </div>
        </div>
      </div>

      <div class="one column row">
        <div class="column">
          <div class="ui tiny header">
            <div class="sub header">
            Description of Work Done and Accomplishemnts (if project is in progress):
            </div>
            <%= @proposal.description.present? ? @proposal.description : 'N/A'%>
          </div>
        </div>
      </div>

      <div class="one column row">
        <div class="column">
          <div class="ui tiny header">
            <div class="sub header">
            Objectives of the Project:
            </div>
            <%= @proposal.objectives.present? ? @proposal.objectives : 'N/A'%>
          </div>
        </div>
      </div>

      <div class="two column row">
        <div class="column">
          <div class="ui tiny header">
            <div class="sub header">
            Expected Outputs:
            </div>
            <%= @proposal.expectedOutputs.present? ? @proposal.expectedOutputs : 'N/A'%>
          </div>
        </div>
        <div class="column">
          <div class="ui tiny header">
            <div class="sub header">
            Estimated Number of Hours Per Week Devoted to this Project:
            </div>
            <%= @proposal.weeklyHours.present? ? @proposal.weeklyHours : 'N/A'%>
          </div>
        </div>
      </div>
      
      <div class="one column row">
        <div class="column">
          <div class="ui tiny header">
            <div class="sub header">
            Have you attained endorsement from Department Head/Chairman?: 
            <i class="icon <%= @proposal.endorsement.present? ? 'checkmark': 'remove' %>"></i> 
            </div>
          </div>
        </div>
      </div>

      <div class="one column row">
        <div class="column">
          <div class="ui tiny header">
            <div class="sub header">
            Have you submitted this proposal to any other funding agency?: 
            <i class="icon <%= @proposal.submitAgency.present? ? 'checkmark': 'remove' %>"></i> 
            </div>
          </div>
        </div>
      </div>

      <div class="one column row">
        <div class="column">
          <div class="ui tiny header">
            <div class="sub header">
            List of Agencies:
            </div>
            <%= @proposal.listAgency.present? ? @proposal.listAgency : 'N/A'%>
          </div>
        </div>
      </div>
      
   
      <div class="row centered" style="margin-bottom: 10px;">
        <div class="six wide column right aligned">
          <%= link_to @proposal.attachment.url, class: 'ui mini button green' do %>
            Download Proposal <i class="icon arrow down"></i>
          <% end %>
        </div>
        <div class="six wide column">
          <%= link_to @proposal.recommendation.url, class: 'ui mini button green' do %>
            Download Recommendation <i class="icon arrow down"></i>
          <% end %>
        </div>
      </div>

      <!--
      <%= link_to 'Edit', edit_proposal_path(@proposal) %> |
      <%= link_to 'Back', proposals_path %>
      -->
    </div>
  </div>

  <div class="ui segment">
    <div class="ui grid">

      <div class="row centered">
        <div class="six wide column">
              <div class="ui medium header center aligned">Vote</div>
              <div class="ui form">
                <div class="inline fields">
                  <div class="field">
                    <div class="ui radio checkbox">
                      <input type="radio" name="vote" checked="" tabindex="0" class="hidden">
                      <label>Accept</label>
                    </div>
                  </div>
                  <div class="field">
                    <div class="ui radio checkbox">
                      <input type="radio" name="vote" tabindex="0" class="hidden">
                      <label>Reject</label>
                    </div>
                  </div>
                  <div class="field">
                    <div class="ui radio checkbox">
                      <input type="radio" name="vote" tabindex="0" class="hidden">
                      <label>Resubmit</label>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>

        <div class="row centered">
          <div class="ten wide column">
             <div class="ui medium header center aligned">Comments</div>
             <div class="ui form">
              <div class="field">
                <textarea rows="2"></textarea>
              </div>
              <button class="ui mini button right floated">Submit</button>
            </div>
            <br>
            <div class="ui basic segment center aligned">
              <div class="ui medium header">Reviews</div>
              <div class="ui left aligned relaxed divided list">
                <div class="item">
                  <div class="content">
                    <a class="header">Comm_Mem1_review.pdf</a>
                  </div>
                </div>
                <div class="item">
                  <div class="content">
                    <a class="header">Comm_Mem2_review.pdf</a>
                  </div>
                </div>
                <div class="item">
                  <div class="content">
                    <a class="header">Comm_Mem3_review.pdf</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>

    </div>
  </div>
</div>


