<!DOCTYPE html>
<html>
  <head>
    <title>FRIA</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/nav'%>
      <div class="ui container">
        <% flash.each do |key, value| %>
          <div class="ui message <%= key %>" style="margin-top: 50px;"><%= value %></div>
        <% end %>
      </div>
    <%= yield %>
  </body>
</html>
